/* Primitive Color */
:root {
  /* White */
  --white: #fff;

  /* Sea */
  --sea-900: #0000be;
  --sea-800: #0024ce;
  --sea-700: #0031d8;
  --sea-600: #003ee5;
  --sea-500: #0946f1;
  --sea-400: #4979f5;
  --sea-300: #7096f8;
  --sea-200: #9db7f9;
  --sea-100: #c5d7fb;
  --sea-50: #e8f1fe;

  /* Sumi */
  --sumi-900: #1a1a1c;
  --sumi-800: #414143;
  --sumi-700: #626264;
  --sumi-600: #757578;
  --sumi-500: #949497;
  --sumi-400: #b4b4b7;
  --sumi-300: #d8d8db;
  --sumi-200: #e8e8eb;
  --sumi-100: #f1f1f4;
  --sumi-50: #f8f8fb;

  /* Forest */
  --forest-900: #115a36;
  --forest-800: #197a4b;
  --forest-700: #1d8b56;
  --forest-600: #259d63;
  --forest-500: #2cac6e;
  --forest-400: #51b883;
  --forest-300: #71c598;
  --forest-200: #9bd4b5;
  --forest-100: #c2e5d1;
  --forest-50: #e6f5ec;

  /* Wood */
  --wood-900: #b65200;
  --wood-800: #c16800;
  --wood-700: #c87504;
  --wood-600: #cd820a;
  --wood-500: #d18d0f;
  --wood-400: #d69c2b;
  --wood-300: #dcac4d;
  --wood-200: #e5c47f;
  --wood-100: #efdbb1;
  --wood-50: #f8f1e0;

  /* Sun */
  --sun-900: #d50000;
  --sun-800: #ec0000;
  --sun-700: #fa1606;
  --sun-600: #ff220d;
  --sun-500: #ff4b36;
  --sun-400: #ff5838;
  --sun-300: #ff7b5c;
  --sun-200: #ffa28b;
  --sun-100: #ffc8b8;
  --sun-50: #ffe7e6;
}
